<footer class="bg-dark py-5 row d-print-none">
  <div class="container-fluid mx-sm-5">
    <div class="row">
      <div class="col-6 col-sm-4 text-xs-center order-sm-2">
        <ul class="list-inline mb-0">  
          {% if site.twitter %}
            <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="" aria-label="Twitter" data-original-title="Twitter">
              <a class="text-white" target="_blank" href="https://twitter.com/{{ site.twitter }}">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
          {% endif %}
          {% if site.linkedin %}
            <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="" aria-label="LinkedIn" data-original-title="LinkedIn">
              <a class="text-white" target="_blank" href="https://linkedin.com/in/{{ site.linkedin }}">
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
          {% endif %}
          {% if site.discord %}
            <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="" aria-label="Discord" data-original-title="Discord">
              <a class="text-white" target="_blank" href="{{ site.discord }}">
                <i class="fab fa-discord"></i>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
      <div class="col-6 col-sm-4 text-right text-xs-center order-sm-3">
        <ul class="list-inline mb-0">  
          <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="" aria-label="GitHub" data-original-title="GitHub">
            <a class="text-white" target="_blank" href="{{ site.repo }}">
              <i class="fab fa-github"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-4 text-center py-2 order-sm-2">
        <small class="text-white">Al het gepubliceerde werk op deze site is gelicenceerd onder de "<a href="http://creativecommons.org/licenses/by/3.0/" target="_blank" rel="noopener">Creative Commons Attribution 3.0 Unported License</a>". Deel alles royaal maar vermeld altijd mijn naam en link terug naar de website!</small>	
      </div>
    </div>
  </div>
</footer>
